[Desktop Entry]
Type=Application
Name=updater for Debian
Comment=Simple one click updater
Icon=Update.png
Exec=updatExec
Terminal=false
Categories=PackageManager;
